@charset "UTF-8";
#main {
    height: 5517px;
    width: 1250px;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
}
  
#home {
    background-color: #1B1E25;
    height: 860px;
    width: 1250px;
    padding-top: 0px;
    display: flex;
}

.thin_text {
    font-weight: normal;
}
#nav {width: 1250px;
align-items: flex-start;}
#FR {
    color: #FFFFFF;
    justify-content: flex-end;
    height: 30px;
    border: 1px solid #FFFFFF;
    align-items: flex-start;
    clear: right;
    margin-right: 40px;
    margin-top: 50px;
    width: 80px;
    padding-top: 10px;
    text-align: center;
}
.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1250px;
    margin-left: 90px;
    padding-top: 5px;
}

#logo {
    background-image: url(imgs/vct_design_logo.png);
	height: 146px;
    width: 146px;

}


#uxui {
    background-color: #FFFFFF;
    height: 800px;
    width: 1250px;
    color: #1B1E25;
}
.tab {padding-left: 580px;}
#tab1 {
    background-image: url(imgs/tab1curve.png);
    height: 80px;
    width: 78px;
    margin-left: 584px;
}
.left {
    float: left;
    width: 500px;
    text-align: ;
    font-size: 20px;
}
.right {
    float: right;
    width: 500px;
    text-align: justify;
    margin-right: 150px;
}
.content {
    padding-top: 50px;
	padding-left: 150px}
#uxui_content {
    background-image: url(imgs/uxui.png);
    height: 229px;
    width: 278 ;
    padding-top: 240px;
	padding-left: 160px;
}
.p {
    font-family: "Times New Roman";
    font-size: 22px;
    font-weight: lighter;
    color: #626262;
    text-align: left;
}
.rightux {
    float: right;
    padding-right: 160px;
    margin-top: 150px;
    text-align: left;
		}

#dev {
    background-color: #FAFAFA;
    height: 800px;
    width: 1250px;
    color: #1B1E25;
}

.leftdev {
    width: 184px ;
    float: left;
    padding-top: 100px;
    padding-left: 50px
}

.dev_content {align-content: center;
float:left}

#portfolio {
    background-color: #1B1E25;
    height: 892px;
    width: 1250px;
    color: #FFFFFF;
   
}

#portfolio_content {
    height: 394px;
    width: 625px;
    border: 1px solid #FFFFFF;
    margin: auto;
    margin-top: 13%;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

#dribble {
    height: 59px;
    width: 347px;
    border: 1px solid #FFFFFF;
    margin: auto;
    margin-top: 10%;
    text-align: center;
    padding-top: 5%;
}

#social {
    background-color: #2ABBAE;
    height: 600px;
    width: 1250px;
    color: #FFFFFF;
}
#social_content { width: 570px ;
    float: left;
    padding-left: 10%;

}

.social_left {
    float: left;
    width: 300px
}

.twitter {margin-bottom: 50px ;
margin-right:50px}
#form {
    background-color: #1B1E25;
    height: 919px;
    width: 1250px;
color: #FFFFFF;
	
}
.form_content {text-align: center;
}
.form_name {
    margin-top: 100px;
    width: 800px;
    margin-left: 200px;
    text-align: left;
    height: 30px;
    text-decoration: underline;
}

#footer {
    background-color: #1B1E25;
    height: 265px;
    margin: auto;
    width: 1250px;
    color: #FFFFFF;
    text-align: center;
}
.icons {margin-bottom: 50px}
